<aside class="main-sidebar sidebarColor elevation-4">
    <div class="sidebar">
        <div class="mt-4 pb-4" style="padding-left: 1rem;">
            <a href="/paineladm/dashboar">
                <img
                    src="/public/paineladm/vibeLogo.png"
                    class=""
                    alt="Vibecriativa"
                    title="Vibecriativa"
                />
            </a>
        </div>

        <nav class="mt-2">
            <ul
                class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
            >
                <li class="nav-item">
                    <a
                        href="/paineladm/dashboar"
                        class="nav-link itemMenu boxItemS"
                    >
                        <i class="nav-icon fa-solid fa-chart-line"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item nav-item">
                    <a href="#" class="nav-link itemMenu boxItemS">
                        <i class="nav-icon fa-solid fa-user"></i>
                        <p>
                            Usuários
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a
                                href="/paineladm/usuarios/cadastrar"
                                class="nav-link"
                            >
                                <p class="dropSid">Cadastrar</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a
                                href="/paineladm/usuarios/listar"
                                class="nav-link"
                            >
                                <p class="dropSid">Listar</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item nav-item">
                    <a href="#" class="nav-link itemMenu boxItemS">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Noticias
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a
                                href="/paineladm/noticias/cadastrar"
                                class="nav-link"
                            >
                                <p class="dropSid">Cadastrar notícias</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a
                                href="/paineladm/noticias/listar"
                                class="nav-link"
                            >
                                <p class="dropSid">Listar notícias</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item">
                    <a href="#" class="nav-link itemMenu boxItemS">
                        <i class="nav-icon fas fa-solid fa-list"></i>
                        <p>
                            Categorias
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a
                                href="/paineladm/categoria/cadastrar"
                                class="nav-link"
                            >
                                <p class="dropSid">Cadastrar categorias</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a
                                href="/paineladm/categoria/listar"
                                class="nav-link"
                            >
                                <p class="dropSid">Listar categorias</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item pt-3">
                    <a
                        id="logout"
                        type="button"
                        class="nav-link bNone nav-item boxItemS"
                        ><i
                            class="nav-icon fas fa-solid fa-right-from-bracket branca"
                        ></i>
                        <p class="branca">Sair</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
