body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.bgHeader {
    background-image: url(../../public/imagens/passeios/1.png);
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 273px 0 176px 0;
}

.tltHeader {
    font-size: 60px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: capitalize;
}