<div class="offset-lg-1 margtop3rem">
    <div class="media contact-info">
        <span class="contact-info__icon"><i class="fa-solid fa-house"></i></span
        >
        <div class="media-body">
            <h3>Buttonwood, California.</h3>
            <p>Rosemead, CA 91770</p>
        </div>
    </div>
    <div class="media contact-info">
        <span class="contact-info__icon"
            ><i class="fa-solid fa-tablet-screen-button"></i></span
        >
        <div class="media-body">
            <h3>+1 253 565 2365</h3>
            <p>Mon to Fri 9am to 6pm</p>
        </div>
    </div>
    <div class="media contact-info">
        <span class="contact-info__icon"
            ><i class="fa-regular fa-envelope"></i></span
        >
        <div class="media-body">
            <h3>support@majestic.com</h3>
            <p>Send us your query anytime!</p>
        </div>
    </div>
</div>
