<div class="mt-5 bg_Anside">
    <div class="padPadraoTop">
        <h3 class="tltAnside">Categoria</h3>

        <ul class="ulCategoria">
            <li class="liCategoria">
                <a href="#" class="d-flex">
                    <p class="pCategor">Resaurant food</p>
                    <p class="pCategor">(37)</p>
                </a>
            </li>

            <li class="liCategoria">
                <a href="#" class="d-flex">
                    <p class="pCategor">Resaurant food</p>
                    <p class="pCategor">(37)</p>
                </a>
            </li>

            <li class="liCategoria">
                <a href="#" class="d-flex">
                    <p class="pCategor">Resaurant food</p>
                    <p class="pCategor">(37)</p>
                </a>
            </li>

            <li class="liCategoria">
                <a href="#" class="d-flex">
                    <p class="pCategor">Resaurant food</p>
                    <p class="pCategor">(37)</p>
                </a>
            </li>

            <li class="liCategoria">
                <a href="#" class="d-flex">
                    <p class="pCategor">Resaurant food</p>
                    <p class="pCategor">(37)</p>
                </a>
            </li>

            <li class="liCategoria">
                <a href="#" class="d-flex">
                    <p class="pCategor">Resaurant food</p>
                    <p class="pCategor">(37)</p>
                </a>
            </li>

            <li class="liCategoria">
                <a href="#" class="d-flex">
                    <p class="pCategor">Resaurant food</p>
                    <p class="pCategor">(37)</p>
                </a>
            </li>
        </ul>
    </div>
</div>
