<div>
    <div class="mt-5 bg_Anside">
        <div class="padPadraoTop">
            <h3 class="tltAnside">Instagram Feeds</h3>

            <div>
                <ul class="instagram_row flex-wrap">
                    <li class="rowli">
                        <a href="#">
                            <img
                                class="img-fluid"
                                src="../../public/blog/intafeds1.webp"
                                alt=""
                            />
                        </a>
                    </li>
                    <li class="rowli">
                        <a href="#">
                            <img
                                class="img-fluid"
                                src="../../public/blog/intafeds2.webp"
                                alt=""
                            />
                        </a>
                    </li>
                    <li class="rowli">
                        <a href="#">
                            <img
                                class="img-fluid"
                                src="../../public/blog/intafeds3.webp"
                                alt=""
                            />
                        </a>
                    </li>
                    <li class="rowli">
                        <a href="#">
                            <img
                                class="img-fluid"
                                src="../../public/blog/intafeds4.webp"
                                alt=""
                            />
                        </a>
                    </li>
                    <li class="rowli">
                        <a href="#">
                            <img
                                class="img-fluid"
                                src="../../public/blog/intafeds5.webp"
                                alt=""
                            />
                        </a>
                    </li>
                    <li class="rowli">
                        <a href="#">
                            <img
                                class="img-fluid"
                                src="../../public/blog/intafeds6.webp"
                                alt=""
                            />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
