<div class="mt_8">
    <div class="image-container">
        <div class="image-wrapper">
            <img
                src="/public/imagens/inicio/insta1.png"
                alt="Imagem 1"
                class="image"
            />
            <i class="fa-brands fa-instagram instahome"></i>
        </div>
        <div class="image-wrapper">
            <img
                src="/public/imagens/inicio/insta2.png"
                alt="Imagem 2"
                class="image"
            />
            <i class="fa-brands fa-instagram instahome"></i>
        </div>
        <div class="image-wrapper">
            <img
                src="/public/imagens/inicio/insta3.png"
                alt="Imagem 3"
                class="image"
            />
            <i class="fa-brands fa-instagram instahome"></i>
        </div>
        <div class="image-wrapper">
            <img
                src="/public/imagens/inicio/insta4.png"
                alt="Imagem 4"
                class="image"
            />
            <i class="fa-brands fa-instagram instahome"></i>
        </div>
        <div class="image-wrapper">
            <img
                src="/public/imagens/inicio/insta5.png"
                alt="Imagem 5"
                class="image"
            />
            <i class="fa-brands fa-instagram instahome"></i>
        </div>
    </div>
</div>
