<div>
    <div class="navigation-top">
        <div
            class="d-sm-flex justify-content-between text-center"
        >
            <p class="like-info">
                <span class="align-middle"
                    ><i class="fa fa-heart"></i></span
                > Lily and 4 people like this
            </p>
            <div class="col-sm-4 text-center my-2 my-sm-0">
            </div>
            <ul class="social-icons flex">
                <li>
                    <a href="#"
                        ><i class="fa-brands fa-facebook-f"
                        ></i></a
                    >
                </li>

                <li>
                    <a href="#"
                        ><i class="fa-brands fa-twitter"></i></a
                    >
                </li>
            </ul>
        </div>

        <div class="navigation-area">
            <div class="row">
                <div
                    class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center"
                >
                    <div class="thumb">
                        <a href="#">
                            <img
                                class="img-fluid"
                                src="/public/blogpost/preview.webp"
                                alt=""
                            />
                        </a>
                    </div>
                    <div class="arrow">
                        <a href="#">
                            <i
                                class="fa-solid fa-chevron-left leftarrow"
                            ></i>
                        </a>
                    </div>
                    <div class="detials">
                        <p class="postArrow">Prev Post</p>
                        <a href="#">
                            <h4>Space The Final Frontier</h4>
                        </a>
                    </div>
                </div>

                <div
                    class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center"
                >
                    <div class="detials">
                        <p class="postArrow">Next Post</p>
                        <a href="#">
                            <h4>Telescopes 101</h4>
                        </a>
                    </div>
                    <div class="arrow">
                        <a href="#">
                            <i
                                class="fa-solid fa-chevron-right rightarrow"
                            ></i>
                        </a>
                    </div>
                    <div class="thumb">
                        <a href="#">
                            <img
                                class="img-fluid"
                                src="/public/blogpost/next.webp"
                                alt=""
                            />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>