<div>
    <div>
        <div class="mt-5 bg_Anside">
            <div class="padPadraoTop">
                <h3 class="tltAnside">Newsletter</h3>

                <form action="#">
                    <div class="form-group">
                        <input
                            type="email"
                            class="form-control"
                            onfocus="
                            this.placeholder = ''
                            "
                            onblur="this.placeholder = 'Enter email'"
                            placeholder="Enter email"
                            required=""
                        />
                    </div>
                    <button
                        class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">Subscribe</button
                    >
                </form>
            </div>
        </div>
    </div>
</div>
