<!-- Noticias 1 -->
<article>
    <div class="blog_item_img">
        <a href="blogPost">
            <img
                class="card-img rounded-0"
                src="../../public/blog/1.webp"
                alt=""
            />
        </a>
        <a href="blogPost" class="blog_item_date">
            <h3 class="tltBlogItem">15</h3>
            <p class="subtltBlogItem">Jan</p>
        </a>
    </div>
    <div class="blog_details p-20">
        <a href="blogPost" class="d-inline-block">
            <h2>Google inks pact for new 35-storey office</h2>
        </a>
        <p>
            That dominion stars lights dominion divide years for fourth have
            don't stars is that he earth it first without heaven in place seed
            it second morning saying.
        </p>
        <ul class="blog-info-link">
            <li>
                <a class="blogA" href="#"
                    ><i class="fa fa-user"></i> Travel, Lifestyle</a
                >
            </li>
            <span class="spanAjust">|</span>
            <li>
                <a class="blogA" href="#"
                    ><i class="fa fa-comments"></i> 03 Comments</a
                >
            </li>
        </ul>
    </div>
</article>

<!-- Noticias 2 -->
<article>
    <div class="blog_item_img">
        <a href="blogPost">
            <img
                class="card-img rounded-0"
                src="../../public/blog/2.webp"
                alt=""
            />
        </a>
        <a href="blogPost" class="blog_item_date">
            <h3 class="tltBlogItem">15</h3>
            <p class="subtltBlogItem">Jan</p>
        </a>
    </div>
    <div class="blog_details p-20">
        <a href="blogPost" class="d-inline-block">
            <h2>Google inks pact for new 35-storey office</h2>
        </a>
        <p>
            That dominion stars lights dominion divide years for fourth have
            don't stars is that he earth it first without heaven in place seed
            it second morning saying.
        </p>
        <ul class="blog-info-link">
            <li>
                <a class="blogA" href="#"
                    ><i class="fa fa-user"></i> Travel, Lifestyle</a
                >
            </li>
            <span class="spanAjust">|</span>
            <li>
                <a class="blogA" href="#"
                    ><i class="fa fa-comments"></i> 03 Comments</a
                >
            </li>
        </ul>
    </div>
</article>

<!-- Noticias 3 -->
<article>
    <div class="blog_item_img">
        <a href="blogPost">
            <img
                class="card-img rounded-0"
                src="../../public/blog/3.webp"
                alt=""
            />
        </a>
        <a href="blogPost" class="blog_item_date">
            <h3 class="tltBlogItem">15</h3>
            <p class="subtltBlogItem">Jan</p>
        </a>
    </div>
    <div class="blog_details p-20">
        <a href="blogPost" class="d-inline-block">
            <h2>Google inks pact for new 35-storey office</h2>
        </a>
        <p>
            That dominion stars lights dominion divide years for fourth have
            don't stars is that he earth it first without heaven in place seed
            it second morning saying.
        </p>
        <ul class="blog-info-link">
            <li>
                <a class="blogA" href="#"
                    ><i class="fa fa-user"></i> Travel, Lifestyle</a
                >
            </li>
            <span class="spanAjust">|</span>
            <li>
                <a class="blogA" href="#"
                    ><i class="fa fa-comments"></i> 03 Comments</a
                >
            </li>
        </ul>
    </div>
</article>

<!-- Noticias 4 -->
<article>
    <div class="blog_item_img">
        <a href="blogPost">
            <img
                class="card-img rounded-0"
                src="../../public/blog/4.webp"
                alt=""
            />
        </a>
        <a href="blogPost" class="blog_item_date">
            <h3 class="tltBlogItem">15</h3>
            <p class="subtltBlogItem">Jan</p>
        </a>
    </div>
    <div class="blog_details p-20">
        <a href="blogPost" class="d-inline-block">
            <h2>Google inks pact for new 35-storey office</h2>
        </a>
        <p>
            That dominion stars lights dominion divide years for fourth have
            don't stars is that he earth it first without heaven in place seed
            it second morning saying.
        </p>
        <ul class="blog-info-link">
            <li>
                <a class="blogA" href="#"
                    ><i class="fa fa-user"></i> Travel, Lifestyle</a
                >
            </li>
            <span class="spanAjust">|</span>
            <li>
                <a class="blogA" href="#"
                    ><i class="fa fa-comments"></i> 03 Comments</a
                >
            </li>
        </ul>
    </div>
</article>

<!-- Noticias 5 -->
<article>
    <div class="blog_item_img">
        <a href="blogPost">
            <img
                class="card-img rounded-0"
                src="../../public/blog/5.webp"
                alt=""
            />
        </a>
        <a href="blogPost" class="blog_item_date">
            <h3 class="tltBlogItem">15</h3>
            <p class="subtltBlogItem">Jan</p>
        </a>
    </div>
    <div class="blog_details p-20">
        <a href="blogPost" class="d-inline-block">
            <h2>Google inks pact for new 35-storey office</h2>
        </a>
        <p>
            That dominion stars lights dominion divide years for fourth have
            don't stars is that he earth it first without heaven in place seed
            it second morning saying.
        </p>
        <ul class="blog-info-link">
            <li>
                <a class="blogA" href="#"
                    ><i class="fa fa-user"></i> Travel, Lifestyle</a
                >
            </li>
            <span class="spanAjust">|</span>
            <li>
                <a class="blogA" href="#"
                    ><i class="fa fa-comments"></i> 03 Comments</a
                >
            </li>
        </ul>
    </div>
</article>

<!-- Paginação -->
<nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">
        <li class="page-item">
            <a href="#" class="page-link" aria-label="Previous">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
        </li>
        <li class="page-item">
            <a href="#" class="page-link">1</a>
        </li>
        <li class="page-item active">
            <a href="#" class="page-link">2</a>
        </li>
        <li class="page-item">
            <a href="#" class="page-link" aria-label="Next">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </li>
    </ul>
</nav>
