<div class="container bg_Anside" style="">
    <aside class="single_sidebar_widget search_widget">
        <form class="d-flex" role="search">
            <input
                class="form-control inputsearch"
                type="search"
                placeholder="Search"
                aria-label="Search"
            />
            <button class="btn buttonSearchIcon" type="submit"
                ><i class="fa-solid fa-magnifying-glass"></i></button
            >
        </form>
        <div class="mt-3">
            <button
                class="bnt_SearchBlog button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                type="submit">Search</button
            >
        </div>
    </aside>
</div>
