<div class="mt_8">
    <div class="text-center mb-10 block">
        <span class="section_home mt-[9rem] mt4remMOb">Outros passeios</span>
        <h1 class="tlt-sobre_home">Escolha o melhor passeio</h1>
    </div>

    <div class="flex mobgrid">
        <div class="w-full relative">
            <a class="abrgButtn" href="/servico1">
                <div class="imgSobre_home">
                    <div class="image-overlay"></div>
                    <img
                        class="w-full"
                        src="/public/imagens/inicio/passeio1.png"
                        alt=""
                    />
                </div>
                <div class="txtQuarto_home">
                    <span class="spantxtQuarto_home">Por R$200,00</span>
                    <h3 class="tlttxtQuarto_home">Passeio 4x4 Super Pipa</h3>
                    <div class="flex justify-end">
                        <button class="buttonBook">Ver Mais</button>
                    </div>
                </div>
            </a>
        </div>

        <div class="w-full relative">
            <a class="abrgButtn" href="/servico2">
                <div class="imgSobre_home">
                    <div class="image-overlay"></div>
                    <img
                        class="w-full"
                        src="/public/imagens/inicio/passeio2.png"
                        alt=""
                    />
                </div>
                <div class="txtQuarto_home">
                    <span class="spantxtQuarto_home">Por R$80,00</span>
                    <h3 class="tlttxtQuarto_home">Pipa com praia do amor</h3>
                    <div class="flex justify-end">
                        <button class="buttonBook">Ver Mais</button>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="flex mobgrid">
        <div class="w-full relative">
            <a class="abrgButtn" href="/servico3">
                <div class="imgSobre_home">
                    <div class="image-overlay"></div>
                    <img
                        class="w-full"
                        src="/public/imagens/inicio/passeio3.png"
                        alt=""
                    />
                </div>
                <div class="txtQuarto_home">
                    <span class="spantxtQuarto_home">Por R$70,00</span>
                    <h3 class="tlttxtQuarto_home">Pipa Night</h3>
                    <div class="flex justify-end">
                        <button class="buttonBook">Ver Mais</button>
                    </div>
                </div>
            </a>
        </div>

        <div class="w-full relative">
            <a class="abrgButtn" href="/servico4">
                <div class="imgSobre_home">
                    <div class="image-overlay"></div>
                    <img
                        class="w-full"
                        src="/public/imagens/inicio/passeio4.png"
                        alt=""
                    />
                </div>
                <div class="txtQuarto_home">
                    <span class="spantxtQuarto_home">Por R$184,00</span>
                    <h3 class="tlttxtQuarto_home tltWid">Mergulho nos parrachos
                        de Maracajaú</h3>
                    <div class="flex justify-end">
                        <button class="buttonBook">Ver Mais</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
