<div class="mt-5 bg_Anside">
    <div class="padPadraoTop">
        <h3 class="tltAnside">Recent Post</h3>
    </div>

    <div class="flex items-center mb-4">
        <img src="/public/blog/recentpost1.webp" alt="post" />
        <div class="recentCorpo">
            <a href="single-blog.html">
                <h3 class="tltRecentCorpo">From life was you fish...</h3>
            </a>
            <p class="subtltRecentCorpo">January 12, 2019</p>
        </div>
    </div>

    <div class="flex items-center mb-4">
        <img src="/public/blog/recentpost2.webp" alt="post" />
        <div class="recentCorpo">
            <a href="single-blog.html">
                <h3 class="tltRecentCorpo">From life was you fish...</h3>
            </a>
            <p class="subtltRecentCorpo">January 12, 2019</p>
        </div>
    </div>

    <div class="flex items-center mb-4">
        <img src="/public/blog/recentpost3.webp" alt="post" />
        <div class="recentCorpo">
            <a href="single-blog.html">
                <h3 class="tltRecentCorpo">From life was you fish...</h3>
            </a>
            <p class="subtltRecentCorpo">January 12, 2019</p>
        </div>
    </div>

    <div class="flex items-center mb-4">
        <img src="/public/blog/recentpost4.webp" alt="post" />
        <div class="recentCorpo">
            <a href="single-blog.html">
                <h3 class="tltRecentCorpo">From life was you fish...</h3>
            </a>
            <p class="subtltRecentCorpo">January 12, 2019</p>
        </div>
    </div>
</div>
