<div class="container mt-40 mt4remMOb">
    <div class="row GridMob">
        <div class="col">
            <div class="flex">
                <div class="m-2">
                    <img src="../../public/home/v4.png" alt="" />
                </div>
                <div class="mt-10">
                    <img src="../../public/home/v3.png" alt="" />
                </div>
            </div>
        </div>

        <div class="col ml-5">
            <span class="section_home">Delicious Food</span>
            <h1 class="tlt-sobre_home">We Serve Fresh and Delicious Food</h1>
            <p class="subtlt-sobre_home">
                Suscipit libero pretium nullam potenti. Interdum, blandit
                phasellus consectetuer dolor ornare dapibus enim ut tincidunt
                rhoncus tellus sollicitudin pede nam maecenas, dolor sem. Neque
                sollicitudin enim. Dapibus lorem feugiat facilisi faucibus et.
                Rhoncus.
            </p>
            <button class="lineButon">Learn More</button>
        </div>
    </div>
</div>
