<div class="mt_8">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h3 class="tltRestSobre">Encontre novos roteiros</h3>
                <p class="subtltRestSobre">
                    Seja bem-vindo à nossa Agência de Passeios Turísticos,
                    especializada em experiências de sol e mar, cultura,
                    religião e aventura. Aqui, proporcionamos passeios privados
                    e em grupo, adaptados às suas necessidades individuais para
                    garantir uma viagem perfeita. Explore conosco e descubra o
                    mundo de maneira única.
                </p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt_8">
        <img src="/public/imagens/sobre/4.png" alt="" />
    </div>
</div>
