<div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <div
                class="d-block w-100 slidervt"
                style="background-image: url(/public/imagens/inicio/slide/natal.png);"
            >
            </div>
            <div class="carousel-caption d-md-block animate__animated animate__fadeIn aniDurat">
                <h5 class="tlt_slid-1 txt_shadow">Viaje com paixão</h5>
                <p class="subTlt txt_shadow">com liberdade sua aventura começa aqui.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <div
                class="d-block w-100 slidervt"
                style="background-image: url(/public/imagens/inicio/slide/2.png);"
            >
            </div>
            <div class="carousel-caption d-md-block animate__animated animate__fadeIn aniDurat">
                <h5 class="tlt_slid-1 txt_shadow">Genipabu</h5>
                <p class="subTlt txt_shadow">Sol, mar e areias douradas esperam por você!</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <div
                class="d-block w-100 slidervt"
                style="background-image: url(/public/imagens/inicio/slide/3.png);"
            >
            </div>
            <div class="carousel-caption d-md-block animate__animated animate__fadeIn aniDurat">
                <h5 class="tlt_slid-1 txt_shadow">Viva momentos incríveis</h5>
                <p class="subTlt txt_shadow">Onde a beleza encontra a diversão!</p>
            </div>
        </div>
        <!-- <div class="carousel-item" data-bs-interval="2000">
            <div
                class="d-block w-100 slidervt"
                style="background-image: url(/public/slider/v4.png);"
            >
            </div>
            <div class="carousel-caption d-md-block">
                <h5 class="tlt_slid-1">Life is Beautiful</h5>
                <p class="subTlt">Unlock to enjoy the view of Martine</p>
            </div>
        </div> -->
    </div>
    <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
    >
        <i class="fa-solid fa-angle-left iconseta"></i>
    </button>

    <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
    >
        <i class="fa-solid fa-angle-right iconseta"></i>
    </button>
</div>
