<div
    id="carouselExampleDark"
    class="carousel carousel-dark slide mt_8"
    data-bs-ride="carousel"
>
    <div class="carousel-inner">
        <div class="carousel-item active"  data-bs-interval="2000">
            <div
                class="d-block w-100 slidervt"
                style="background-image: url(/public/imagens/sobre/2.png);"
            >
            </div>
            <div class="carousel-caption d-md-block">
                <h5 class="tlt_slid-1 txt_shadow">
                    Os Melhores passeios do Rio Grande do Norte
                </h5>
                <!-- <p class="subTlt">Unlock to enjoy the view of Martine</p> -->
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <div
                class="d-block w-100 slidervt"
                style="background-image: url(/public/imagens/sobre/3.png);"
            >
            </div>
            <div class="carousel-caption d-md-block">
                <h5 class="tlt_slid-1 txt_shadow">
                    Embarque em uma aventura emocionante
                </h5>
                <p class="subTlt txt_shadow">
                    projetada para toda a família desfrutar juntos momentos
                    inesquecíveis e criar memórias para a vida toda!
                </p>
            </div>
        </div>
    </div>
    <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
    >
        <i class="fa-solid fa-angle-left iconseta"></i>
    </button>

    <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
    >
        <i class="fa-solid fa-angle-right iconseta"></i>
    </button>
</div>
