<div class="container mt_8">
    <div class="row GridMob">
        <div class="col">
            <span class="section_home">Sobre nós</span>
            <h1 class="tlt-sobre_home">
                Explore o Mundo com Aventura e Conforto!
            </h1>
            <p class="subtlt-sobre_home">
                Bem-vindo à Ap&N Turismo, sua porta de entrada para experiências
                incríveis no mundo! Estamos aqui para transformar sua viagem em
                uma jornada inesquecível, onde cada passeio se torna uma
                história e cada aventura é marcada por momentos emocionantes!
                Nossos passeios oferecem emoção, segurança e um compromisso
                inabalável com o seu conforto.
            </p>
            <a href="/sobre">
                <button class="lineButon">Ler mais</button>
            </a>
        </div>

        <div class="col">
            <div class="flex">
                <div class="m-2">
                    <img src="/public/imagens/inicio/sobre1.png" alt="" />
                </div>
                <div class="mt-10">
                    <img src="/public/imagens/inicio/sobre2.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
