<div>
    <div class="mt-5 bg_Anside">
        <div class="padPadraoTop">
            <h3 class="tltAnside">Tag Clouds</h3>

            <div>
                <ul class="list">
                    <li class="liTags">
                        <a class="aTags" href="#">project</a>
                    </li>
                    <li class="liTags">
                        <a class="aTags" href="#">love</a>
                    </li>
                    <li class="liTags">
                        <a class="aTags" href="#">technology</a>
                    </li>
                    <li class="liTags">
                        <a class="aTags" href="#">travel</a>
                    </li>
                    <li class="liTags">
                        <a class="aTags" href="#">restaurant</a>
                    </li>
                    <li class="liTags">
                        <a class="aTags" href="#">life style</a>
                    </li>
                    <li class="liTags">
                        <a class="aTags" href="#">design</a>
                    </li>
                    <li class="liTags">
                        <a class="aTags" href="#">illustration</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
