<div class="bgImg_video mt-[5rem]">
    <div class="txtCenter">
        <span class="span_video">Majestic Sea View</span>
        <h3 class="tlt_video">Relax and Enjoy your <br />Vacation</h3>
        <a href="" class="playVideo"><i class="fa fa-play"></i></a>
    </div>
</div>
