---
// Puxar base para pagina
import { Form } from "@/components/portfolio_form";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import HTML from "@/pages/_base.astro";
---

<HTML title="Portfolio" description="">
    <div
        id="content"
        class="pt-32 container flex justify-center min-h-screen items-center"
    >
        <Form title="testando" description="test2" />
    </div>
</HTML>
