---
import HTML from "../../../pages/paineladm/_base.astro";
---

<HTML title="Início" description="">
    <div class="p-4">
        <div>
            <header class="container headerAdm">
                <h4><i class="fas fa-solid fa-list pr-2"></i>Cadastrar usuario</h4>
            </header>
        </div>

        <div class="formCaix">
            <div class="form-group p-3">
                <input
                    type="text"
                    class="form-control"
                    id="categoria"
                    name="categoria"
                    placeholder="Digite há Categoria"
                />

                <button class="btn btn-primary mt-4">Cadastrar</button>
            </div>
        </div>
    </div>
</HTML>
