.headerAdm {
    background-color: #007bff;
    color: #fff;
    padding-left: 1rem;
    padding-top: 9px;
    padding-bottom: 5px;
}

.formCaix {
    border: solid 1px #d4d4d4;
}

.headerAdm h4{
    font-weight: 400;
}

.fontFormTl {
    font-size: 18px;
    font-weight: 400 !important;
}